<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="../static/index.js"></script>
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    
    <body>
        <div id="container" class="container">
            <img src="https://cdn.pixabay.com/photo/2020/01/02/16/38/chatbot-4736275_960_720.png" height="400vh" alt="Chatbot clipart">
            <div id="chat" class="chat">
                <div id="messages" class="messages"></div>
                <input id="input" type="text" placeholder="Write something..." autocomplete="off" autofocus="true" />
            </div>
        </div>
    </body>
</html>
